@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    background-color:white;
    color:#303033;
    /* height:100%; */
}
a{
    color:#303033;
    text-decoration:none;
}
a:hover{
    color:black;
}
img{
    vertical-align:middle;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
table,th,td{
    border:1px solid #303033;
    border-collapse:collapse;
}


.side-nav-wrap{
    width:10px;
    position:absolute;
    right:20px;
    /* border:1px solid black; */
}
.side-nav{
    position:fixed;
    width:25px;
    top:50%;
    right:20px;
    transform:translate(0,-50%);
    z-index:99999;
    /* border:1px solid black; */
}
.side-nav a{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:25px;
    margin:10px 0;
    background-color:aliceblue;
    border-radius:30px;
    position:relative;
    font-size:0.8rem;
    font-weight:600;
}
.side-nav a:after{
    content:"";
    position:absolute;
    width:100px;
    right:40px;
    text-align:right;
    top:50%;
    transform:translate(0,-50%);
    width:0px;
    overflow:hidden;
    transition:width 0.5s;
    background-color:aliceblue;
    border-radius:100%;
    text-align:center;
    font-weight:900;
}
.side-nav a:nth-child(1):after{
    content:"Cover";
}
.side-nav a:nth-child(2):after{
    content:"Self";
}
.side-nav a:nth-child(3):after{
    content:"Page";
}
.side-nav a:nth-child(4):after{
    content:"Detail";
}
.side-nav a:nth-child(5):after{
    content:"Banner";
}
.side-nav a:nth-child(6):after{
    content:"Banner";
}
.side-nav a:nth-child(7):after{
    content:"Icon";
}
.side-nav a:nth-child(8):after{
    content:"Epilogue";
}
.side-nav a.side-nav-active:after{
    width:100px;
    color:#303033;
}
.side-nav a.side-nav-active{
    background-color:royalblue;
}

main{
    width:100%;
    max-width:1920px;
    margin:auto;
    height:100%;
    /* padding-top:0; */
}
header, section, footer{
    width:100%;
    margin:auto;
    /* border-bottom:1px dashed #303033; */
}
section{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:hidden;
}
header{
    height:100px;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    background-color:white;
}
#header-side{
    width:100%;
    max-width:1920px;
    height:100%;
    margin:auto;
    position:relative;
    display:flex;
    /* border:1px solid black; */
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
}
.cover-box{
    width:100%;
    height:100%;
    background-color:#a8d0e6;
    position:relative;
}
.m-cover-title{
    /* border:1px solid black; */
    width:100%;
}
.cover-title{
    width:100%;
    display:none;
}
.d-cover-title{
    width:100%;
    display:none;
}
.wd{
    position:absolute;
    top:15px;
    right:15px;
    font-size:1.3rem;
}
.name{
    position:absolute;
    bottom:25px;
    left:20px;
    font-size:1.6rem;
}
.etc{
    position:absolute;
    bottom:25px;
    right:15px;
    text-align:right;
    font-size:1.1rem;
}
.c-contents{
    position:absolute;
    top:47%;
    left:17%;
    line-height:180%;
    font-weight:600;
}
.c-contents h2{
    margin-bottom:40px;
}
.c-contents p{
    font-size:0.9rem;
    font-weight:500;
    color:#424242;
}
.nav-wrap{
    width:100px;
}
.nav-button{
    width:100%;
    height:50px;
    position:relative;
    z-index:9;
    background-color:palegreen;
    border:none;
    /* border:1px solid black; */
}
.nav-button.bg-active{
    background:yellowgreen;
}
.nav-list{
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(255, 255, 255, 0.7);
    top:0;
    right:0;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding:50px 0;
    font-size:1.5rem;
    width:0;
    overflow:hidden;
    transition:0.5s;
}
.nav-list.active{
    width:100%;
}
.nav-list a{
    color:#303033;
    font-weight:900;
    background-color:yellow;
    width:150px;
    text-align:center;
    padding:5px 0;
    border-radius:5px;
}
.nav-list a.clickActive{
    background-color:greenyellow;
}
#self{
    background:url(../images/bg-re.jpg) no-repeat;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.intro-left{
    width:80%;
    height:40%;
    /* border:1px solid black; */
    padding:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:left;
    line-height:200%;
}
.intro-left ul{
    width:100%;
}
.intro-left ul li{
    width:100%;
}
.intro-right{
    width:80%;
    height:40%;
    /* border:1px solid black; */
}
#self h2{
    position:absolute;
    top:4px;
    right:10px;
    font-size:1.1rem;
}
#page{
    background:url(../images/bg-re.jpg) no-repeat;
    background-size:cover;
}
#page h2{
    position:absolute;
    top:4px;
    right:10px;
    font-size:1.1rem;
}
.page-box-wrap{
    width:80%;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* border:1px solid black; */
}
.page-img-box{
    display:none;
}
.m-page-img-box{
    width:90%;
    height:90%;
    background-color:aliceblue;
    padding:20px;
}
.m-page-img-box img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.iconbt{
    width:80%;
    margin-top:20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* border:1px solid black; */
}
.response{
    background-color:aliceblue;
    padding:10px;
    border-radius:10px;
    width:75px;
    height:75px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.response img{
    object-fit:contain;
    width:100%;
}
.bt{
    width:60%;
    /* border:1px solid black; */
    display:flex;
    align-items:center;
    justify-content:right;
}
.bt a{
    background-color:aliceblue;
    padding:10px;
    border-radius:10px;
    font-size:0.9rem;
    font-weight:bold;
}
.more{
    background-color:aliceblue;
    padding:10px;
    border-radius:10px;
    font-size:0.9rem;
    font-weight:bold;
    margin-left:15px;
}
.page-popup{
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:99999;
    
}
.dimmed{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    left:0;
    top:0;
    z-index:9;
    
}
.page-popup-body{
    position:relative;
    width:80%;
    height:80%;
    background-color:whitesmoke;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    overflow:auto;
    z-index:99;
}
.page-popup-close{
    position:absolute;
    top:15px;
    right:15px;
    font-size:1.5rem;
    background-color:transparent;
    border:none;
}
.page-popup-group{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
.page-popup-left{
    width:80%;
    margin-top:60px;
    /* border:1px solid black; */
}
.page-popup-img-box{
    display:none;
}
.m-page-popup-img-box{
    width:100%;
    height:100%;
    /* border:1px solid black; */
    display:flex;
    justify-content:center;
    align-items:center;
}
.m-page-popup-img-box img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.page-popup-bt{
    /* border:1px solid black; */
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:70%;
    margin:20px auto 0;
}
.p-response{
    background-color:white;
    padding:10px;
    border-radius:10px;
    width:75px;
    height:75px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.p-response img{
    object-fit:contain;
    width:100%;
}
.page-popup-bt a{
    width:80px;
    height:50px;
    background-color:white;
    padding:10px;
    border-radius:10px;
    font-size:0.9rem;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
}
.page-popup-right{
    width:80%;
    /* border:1px solid black; */
    padding:20px 0 50px 0;
}
.page-popup-right p{
    font-size:0.8rem;
    background-color:white;
    border-radius:5px;
    padding:20px;
    line-height:170%;
    font-weight:600;
}
#detail{
    background:url(../images/bg-re.jpg) no-repeat;
    background-size:cover;
}
#detail h2{
    position:absolute;
    top:4px;
    right:10px;
    font-size:1.1rem;
}
.wheel-right{
    display:none;
}
.wheel-left{
    display:none;
}
.detail-container{
    /* border:1px solid black; */
    width:80%;
    height:80%;
    background-color:aliceblue;
}
.detail-box-wrap{
    width:100%;
    /* border:1px solid black; */
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    padding:20px;
}
.detail-box{
    width:100%;
    height:30%;
    /* border:1px solid orange; */
    overflow:auto;
}
.detail-box span{
    /* border:1px solid blue; */
    width:100%;
    height:100%;
    display:inline-block;
}
.detail-box span img{
    width:100%;
}
.detail-popup{
    display:none;
}
/* .dimmed{
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:0;
} */
.detail-popup-body{
    position:fixed;
    width:80%;
    height:80%;
    background-color:whitesmoke;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    overflow:auto;
}
.detail-popup-close{
    position:absolute;
    top:15px;
    right:15px;
    font-size:1.5rem;
    background-color:transparent;
    border:none;
}
.detail-popup span{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.detail-popup span img{
    width:100%;
    max-width:850px;
}
#banner{
    background:url(../images/bg-re.jpg) no-repeat;
    background-size:cover;
}
#banner h2{
    position:absolute;
    top:4px;
    right:10px;
    font-size:1.1rem;
}
.banner-container{
    width:80%;
    height:80%;
    background-color:aliceblue;
    /* border:1px solid black; */
    overflow:auto;
}
.banner-box-wrap{
    width:100%;
    height:100%;
    /* border:1px solid black; */
}
.banner-box{
    width:100%;
    padding:20px;
}
.banner-box span{
    /* border:1px solid blue; */
    width:100%;
    display:inline-block;
}
.banner-box span img{
    width:100%;
}
.banner-popup{
    display:none;
}
/* .dimmed{
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:0;
} */
.banner-popup-body{
    position:fixed;
    width:80%;
    height:80%;
    background-color:whitesmoke;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    overflow:auto;
}
.banner-popup-close{
    position:absolute;
    top:15px;
    right:15px;
    font-size:1.5rem;
    background-color:transparent;
    border:none;
}
.banner-popup span{
    width:100%;
    height:100%;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.banner-popup span img{
    width:100%;
    max-width:850px;
    max-height:650px;
    object-fit:contain;
}
#banner-s{
    background:url(../images/bg-re.jpg) no-repeat;
    background-size:cover;
}
#banner-s h2{
    position:absolute;
    top:4px;
    right:10px;
    font-size:1.1rem;
}
#icon{
    background:url(../images/bg-re.jpg) no-repeat;
    background-size:cover;
}
#icon h2{
    position:absolute;
    top:4px;
    right:10px;
    font-size:1.1rem;
}
.icon-box{
    width:80%;
    height:80%;
    background-color:aliceblue;
    overflow:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.icon-box span{
    width:100%;
}
.icon-box span img{
    width:100%;
    object-fit:contain;
}
#epilogue{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.ment{
    width:100%;
    height:50%;
    background-color:#a8d1e7;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    line-height:200%;
    font-weight:bold;
    font-size:1.3rem;
}
.contact{
    width:100%;
    height:50%;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    line-height:350%;
    font-size:1rem;
}



@media screen and (min-width:450px){

}
@media screen and (min-width:640px){

}
@media screen and (min-width:768px){
    .wd{
        font-size:1.4rem;
    }
    .name{
        bottom:30px;
        left:30px;
        font-size:2rem;
    }
    .etc{
        bottom:30px;
        font-size:1.2rem;
    }

}
@media screen and (min-width:1024px){
    .side-nav{
        width:30px;
    }
    .side-nav a{
        height:30px;
        font-size:0.9rem;
        font-weight:500;
    }

    section:first-child{
        flex-direction:column;
    }
    header{
        position:static;
        max-width:auto;
        top:-100px;
        transition:0.5s;
    }
    header.headerActive{
        position:fixed;
        top:0;
    }
    .nav-wrap{
        width:100px;
        display:flex;
        align-items:center;
        /* border:1px solid black; */
    }
    .nav-list{
        width:100%;
        height:85px;
        position:absolute;
        background-color:rgba(255,255,255,0.8);
        right:150px;
        flex-direction:row;
        justify-content:flex-end;
        align-items:center;
        padding:0;
        width:0;
        overflow:hidden;
    }
    .nav-list a{
        font-size:1rem;
        margin:0 10px;
    }
    .nav-wrap:hover .nav-list{
        width:100%;
    }
    .m-cover-title{
        display:none;
    }
    .cover-title{
        display:block;
    }
    .wd{
        right:20px;
        font-size:1.5rem;
    }
    .name{
        font-size:2rem;
    }
    .etc{
        right:20px;
        font-size:1.3rem;
    }
    .c-contents{
        top:52%;
        left:inherit;
        right:15%;
        line-height:180%;
        font-weight:600;
        box-shadow:5px 5px 10px 10px white;
        padding:30px;
        border-radius:5px;
    }
    .c-contents h2{
        margin-bottom:0;
        font-size:1.7rem;
    }
    .c-contents-p{
        margin-top:40px;
        display:flex;
        align-items:center;
    }
    .c-contents p{
        font-size:1rem;
        font-weight:500;
    }
    .c-c-p-top{
        margin-right:50px;
    }
    .intro-left{
        flex-direction:row;
    }
    .page-box-wrap{
        width:80%;
    }
    .m-page-img-box{
        display:none;
    }
    .page-img-box{
        width:80%;
        background-color:aliceblue;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:30px;
        display:block;
    }
    .page-img-box img{
        width:100%;
        height:100%;
        object-fit:contain;
    }
    .response{
        width:87px;
        height:87px;
    }
    .m-page-popup-img-box{
        display:none;
    }
    .page-popup-body{
        width:65%;
    }
    .page-popup-left{
        height:60%;
    }
    .page-popup-bt{
        width:60%;
    }
    .p-response{
        padding:12px;
    }
    .page-popup-bt a{
        padding:12px;
        font-size:0.9rem;
    }
    .page-popup-img-box{
        width:100%;
        height:100%;
        /* border:1px solid black; */
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .page-popup-img-box img{
        width:100%;
        height:100%;
        object-fit:contain; 
    }
    .page-popup-right p{
        /* font-size:1rem; */
    }
    .iconbt{
        /* border:1px solid black; */
        width:75%;
    }
    .bt a{
        padding:15px;
    }
    .more{
        padding:15px;
    }
    .wheel-left{
        display:flex;
        flex-direction:column;
        position:absolute;
        top:25%;
        left:2%;
        transform:translate(0,-50%);
        align-items:center;
        justify-content:space-around;
        background-color:#e7e7e7;
        padding:10px;
        border-radius:5px;
    }
    .wheel-left p{
        font-weight:500;
        font-size:1rem;
    }
    .fa-angle-double-up{
        font-weight:500;
        font-size:1.5rem;
    }
    .wheel-right{
        display:flex;
        flex-direction:column;
        position:absolute;
        top:75%;
        right:2%;
        transform:translate(0,-50%);
        align-items:center;
        justify-content:space-around;
        background-color:#e7e7e7;
        padding:10px;
        border-radius:5px;
    }
    .wheel-right p{
        font-weight:500;
        font-size:1rem;
    }
    .fa-angle-double-down{
        font-weight:500;
        font-size:1.5rem;
    }
    .detail-box-wrap{
        flex-direction:row;
        padding:40px 0;
    }
    .detail-box{
        height:100%;
        padding:0 40px;
    }
    .detail-popup-body{
        width:65%;
    }
    .banner-container{
        height:auto;
    }
    .banner-box-wrap{
        display:flex;
        justify-content:space-around;
        align-items:center;
    }
    #banner .banner-box{
        padding:30px;
    }
    #banner-s .banner-box-wrap{
        padding:10px;
    }
    .banner-popup-body{
        width:65%;
    }
    .icon-box{
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items:center;
        overflow:inherit;
        /* border:1px solid black; */

    }
    .icon-box span{
        width:33%;
        height:50%;
        margin:auto;
        /* border:1px solid black; */
        text-align:center;
    }
    .icon-box span img{
        width:80%;
        height:100%;

    }

/*     #epilogue{
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }
    .ment{
        width:50%;
        height:100%;
    }
    .contact{
        width:50%;
        height:100%;
    } */
}
@media screen and (min-width:1280px){
    .c-contents{
        right:18%;
    }
}
@media screen and (min-width:1440px){
    .cover-title{
        display:none;
    }
    .d-cover-title{
        display:block;
        width:95%;
        margin:auto;
    }
    .wd{
        top:30px;
        right:30px;
        font-size:1.7rem;
    }
    .name{
        bottom:45px;
        left:55px;
        font-size:2.7rem;
    }
    .etc{
        bottom:45px;
        right:30px;
        font-size:1.4rem;
    }
    .c-contents{
        right:21%;
    }
    .page-box-wrap{
        width:70%;
    }
    .page-img-box{
        width:70%;
    }
}